<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group" style="margin-top: 20px;">
        <div class="input-section">
            <input type="text" class="input-name"   autocomplete="off"
            id="name" placeholder=" " formControlName="nome"> 
            <label for="name" class="label-area">
                <span class="label-span">Nome</span>
            </label> 
        </div>
      
    </div>

    <div class="form-group" > 
        <div class="input-section">
            <input type="email" class="input-email"  autocomplete="off"
            id="email" placeholder=" " formControlName="email" > 
            <label for="email" class="label-area">
                <span class="label-span">Email</span>
            </label>
        </div>
    </div>

            <button type="submit" 
            class="btn btn-primary mt-10">  Submit  </button>

            <button class="btn btn-danger m-2" (click)="resetForm()">  Cancelar  </button>
</form>