form {
    font-family: sans-serif;
}

.form-group {
    width: 50%;
    position: relative;
    height: 50px;
    font-size: 16px;
    overflow: hidden;
}

.form-group input {
    width: 100%;
    height: 100%; /* make input the size of the form */
    color: rgb(96, 96, 100);
    padding-top: 20px;
    border: none;
    outline: none;
}

.form-group label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none; /* allow click trought the label */
    border-bottom: 0.6px solid black;
}

.label-area::after { /* adc content after label = underline color */
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(202, 71, 71);
    transform: translateX(-100%);  /* move after label to <-- */
    transition: transform 0.5s ease;
}


.label-span{
    position: absolute;
    bottom: 2px;
    left: 2px;
    transition: all 0.9s ease;
}

.form-group input:focus + .label-area .label-span, /* modifing input, label and content-label on input focus  */
 .form-group input:not(:placeholder-shown) + .label-area .label-span {  /* hold content-label on top while input have content  */
    transform: translateY(-90%);
    color: rgb(202, 71, 71);
    font-size: 10pt;
}

.form-group input:focus + .label-area::after, /* modify underline bringing label::after */
form-group input:not(:placeholder-shown) + .label-area::after {
    transform: translateX(0%)

}

